/******************************************************************
Site Name: filippodellacasa.com
Author: Filippo Della Casa

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 
******************************************************************/

@margin: 30px;
.wrap {
	/*max-width: 1140px;*/
	padding:0px @margin;
}
/*********************
HEADER STYLES
*********************/
.header {
	#inner-header{
		.wrap;
	}
}
