

.arrow_internal{
	position:absolute;
	width: 20px;
	height: 37px;
	//background-image: url(../images/arrows.png);
	top: 50%;
	margin-top: -18px;
}
.absolute{
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	position:absolute;	
}
#bg-slideshow{
	.absolute;
	overflow:hidden;
	.slide{
		.absolute;
		opacity:0;
		background-repeat:no-repeat;
		//background-size:cover;
		//background-size: contain;
		background-position: center;
	}
	.caption{
		position: absolute;
		//right: @margin;
		//bottom: @margin;
		//color: @grey;
		font-size: 14px;
		line-height: 0px;
	}
}
